@model IEnumerable<NBDProject2024.Models.BidLabour>
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        
    

      <div class="col-sm-8">
                <div class="form-group" id="ListMaterial">
                    
                    <div class="col-md-offset-1" id="MaterialList">
                        <table class="table table-hover">
                            @{
                                    <tr>
                                        <th>Hours Quantity</th>
                                        <th>Labour Name</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                    </tr>

                                    var finalTotal = 0.0;
                                    foreach(var item in Model.OrderBy(m => m.Labours.Name))
                                    {
                                        var total = item.HoursQuantity * item.Labours.Price;
                                        finalTotal += total;

                                        @:<tr><td>
                                            @item.HoursQuantity.ToString("f2")
                                        @:</td><td>
                                            @item.Labours.Name
                                        @:</td><td>
                                            @item.Labours.UnitPrice
                                        @:</td><td>
                                            @total.ToString("C2")
                            
                                        @:</td></tr>
                                    }

                            }
                        </table>
                     </div>
            </div>
        </div>

        <div class="col-sm-4">
            <label>Total Labours: </label>
            <label>
                @finalTotal.ToString("C2")
                </label>
            </div>
    </div>
</div>