@model NBDProject2024.Models.Project

<partial name="_ViewHeading" />
<hr />

@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>

}

<div class="row">
    <div class="col-6">
        <h5>Project Information:</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StartTime)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EndTime)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProjectSite)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ProjectSite)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.SetupNotes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SetupNotes)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <h5>Client Information:</h5>
        <hr />
        <dl class="row">

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Client.FullName)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Client.Phone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Client.PhoneFormatted)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.City.Province)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City.ProvinceChar)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City.Name)
            </dd>

        </dl>
    </div>

</div>
<form asp-action="Index" method="get">

    <div class="form-horizontal">
        <div>
            <table class="table table-hover">
                <tr class="table-secondary">
                    <th>
                        <input type="submit" name="actionButton" value="Bid Date" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Bid Date" />

                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Materials Info" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Materials" />


                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Material Total" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Amount" />


                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Labour Info" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Amount" />


                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Labour Total" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Amount" />


                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Total" class="btn btn-link " data-bs-toggle="tooltip" title="Sort by Amount" />


                    </th>
                    <th class="text-center">
                        <a class="btn btn-outline-success" asp-action="Create">Add Bid</a>
                    </th>
                </tr>


            </table>
        </div>
    </div>

</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ID">Delete</a>
    <a asp-action="Index">Back to List</a>

</div>
